{{ define "main" }}
<div class="content h-feed">
    <h1 class="p-name hidden">{{ site.Title }} | Home</h1>
    {{ with site.Params.description }}
        <h2 class="site-intro p-summary">{{ . }}</h2>
    {{ end }}
    <div id="latest-posts" class="index-content">
        <table class="post-list-table">
            <thead>
                <tr>
                    <th>Latest Posts</th>
                    <th class="th-date">Published</th>
                </tr>
            </thead>
            <tbody>
                {{ range .Paginator.Pages }}
                <tr class="h-entry">
                    <td>
                        <a class="p-name u-url" href="{{ .RelPermalink }}">{{ .Title }}</a>
                        {{ if .Params.featured }}
                            <span class="featured-badge">★</span>
                        {{ end }}
                    </td>
                    <td class="td-date">
                        <time class="dt-published" datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">{{ .Date.Format "Jan 2, 2006" }}</time>
                    </td>
                </tr>
                {{ end }}
            </tbody>
        </table>
    </div>
    {{ partial "pagination.html" . }}
</div>
{{ end }}
